.DS_Store
.build/
.swiftpm/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.ipa
*.dSYM.zip
*.dSYM
*.app
.env
.env.*
!.env.example
